[submodule "resources/psrchive"]
	path = resources/psrchive
	url = https://git.code.sf.net/p/psrchive/code.git
	branch = master
[submodule "resources/dspsr"]
	path = resources/dspsr
	url = https://git.code.sf.net/p/dspsr/code.git
	branch = master
[submodule "resources/psrdada"]
	path = resources/psrdada
	url = https://git.code.sf.net/p/psrdada/code.git
	branch = master
